@font-face {
  font-family: "TR-909";
  src: local("TR-909"), url("constants/tr909-font.ttf") format("truetype");
  unicode-range: U+41-7F; /* ASCII */
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "TR-909", "Courier New Bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.readme {
  font-family: "Courier New Bold";
  margin-top: 20px;
  padding: 20px;
  border: 2px solid black;
}
